.vendor_courses_label {
	vertical-align: middle !important;
	text-align: center;
}

.vendor_courses_select {
	width: 100%;
}

.vendor_courses_arrows {
	vertical-align: middle !important;
	text-align: center;
}

.vendor_courses_arrows .btn {
	font-size: 26px;
}

.salespanel_navbar {
	margin-bottom: 0px !important;
}

.salespanel_statusbar {
	padding-top: 14px;
	padding-bottom: 14px;
}